<div>

  <main>
    {{> title big=true data=name}}
    {{> line }}
    <section>
      <div>

        <div>
          {{> title big=false data='Users'}}

          <ul>
            {{#each users}}
            <li>
              <div>
                {{>facePersone text=users }}
                <div>
                  {{#if friends includeZero=false}}
                  <h4>Friends</h4>
                  <ul>
                    {{#each friends}}
                    <li>
                      {{>facePersone text=friends }}
                      <div>
                        {{#if mutual_friends includeZero=false }}
                        <h4>Mutual_friends</h4>
                        <ul>
                          {{#each mutual_friends}}
                          <li>
                            {{>facePersone text=mutual_friends }}
                            {{#if mutual_friends includeZero=false }}
                            <h4>Mutual_friends 2</h4>
                            <ul>
                              {{#each mutual_friends}}
                              <li>
                                {{>facePersone text=mutual_friends }}
                              </li>
                              {{/each}}
                            </ul>
                            {{/if}}
                          </li>
                          {{/each}}
                        </ul>
                        {{/if}}
                      </div>

                      {{#if groups includeZero=false}}
                      {{> faceGroup text=groups }}
                      {{/if}}

                    </li>
                    {{/each}}
                  </ul>
                  {{/if}}

                  {{#if groups includeZero=false}}
                      {{> faceGroup text=groups }}
                  {{/if}}

                </div>
              </div>
            </li>
            {{/each}}

          </ul>

        </div>

      </div>
    </section>
  </main>

</div>