<div>
    <main>
        <section class="row">

            {{#each skills}}
            <div class="col-3">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center"></div>
                    <h6 class="card-title">Some text</h6>
                    <p>{{this}}</p>
                    <button class="btn btn-light">ClickMe!</button>

                </div>
                <div class="card-fotter text-center">Footer</div>

            </div>
            {{/each}}

            {{!-- ============================================ --}}


        </section>
    </main>
</div>