<div>
    <main class="p-5">
        <section class="row">

            {{#each skills}}
            <div class="col-3">
                <div class="card text-bg-success">
                    <div class="card-header text-center">Header</div>
                    <div class="card-body text-center"></div>
                    <h6 class="card-title">Some text</h6>
                    <p>{{this}}</p>
                    <button class="btn btn-light">ClickMe!</button>

                </div>
                <div class="card-fotter text-center">Footer</div>

            </div>
            {{/each}}

        </section>
        {{!-- ============================================ --}}
        {{!-- Lesson 4 --}}
        <section>
            <div class="card">
                <div class="nav">
                    <div class="nav-item">
                        {{!-- <a href="#" class="nav-link">Home page</a> --}}
                        <a href="/summary" class="nav-link">Home page</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link">Catalog</a>
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link disablet">FAQ page</a>
                        {{!-- <button class="btn btn-primary">Button</button> --}}
                    </div>
                    <div class="nav-item">
                        <a href="#" class="nav-link active">Bootstrap</a>
                    </div>
                </div>
            </div>
            {{!-- --------------------------------------- --}}

            <div class="row g-4">
                <div class="col-4">
                    <div class="card">
                        {{!-- <div class="card-body"> --}}
                            <div class="pt-4 pb-3 px-4">
                                <div class="nav flex-column">
                                    <div class="nav-item mb-2">
                                        <div class="card">
                                            {{!-- <a href="#" class="nav-link">Home page</a> --}}
                                            <a href="/summary" class="nav-link">Home page</a>
                                        </div>
                                    </div>
                                    {{!-- <br> --}}
                                    <div class="nav-item mb-2">
                                        <div class="card">
                                            <a href="#" class="nav-link">Catalog</a>
                                        </div>
                                    </div>
                                    {{!-- <br> --}}
                                    <div class="nav-item mb-2">
                                        <div class="card">
                                            <a href="#" class="nav-link disablet">FAQ page</a>
                                        </div>
                                        {{!-- <button class="btn btn-primary">Button</button> --}}
                                    </div>
                                    {{!-- <br> --}}
                                    <div class="nav-item mb-2">
                                        <div class="card">
                                            <a href="#" class="nav-link active">Bootstrap</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        Test

                    </div>
                </div>
                {{> line}}
                <div class="row g-4">

                    <div class="col-12">
                        <div class="nav nav-tabs">
                            <div class="nav-item">
                                <a href="#" class="nav-link active">Main</a>
                            </div>

                            <div class="nav-item">
                                <a href="#" class="nav-link">Catalog</a>
                            </div>

                            <div class="nav-item">
                                <a href="#" class="nav-link disablet">Shop list</a>
                            </div>

                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>

                    <div class="col-8">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>

                            <li class="breadcrumb-item">
                                <a href="#">PS&NB</a>
                            </li>

                            <li class="breadcrumb-item">
                                MAC
                            </li>
                        </ol>

                        {{> line}}

                    </div>

                    <div class="col-8">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>

                            <li class="breadcrumb-item">
                                <a href="#">PS&NB</a>
                            </li>

                            <li class="breadcrumb-item">
                                MAC
                            </li>
                        </ol>

                        <div class="col-12>
                        <h6>Hello world <span class=" badge text-bg-warning rounded-pill text-uppercase">top
                            sales</span></h6>
                            <button class="btn btn-primary rounded-pill">Click me</button>
                            <p class="alert alert-primary"> This is important information</p>
                        </div>


                        <div class="col-12>

                        <div class=" alert alert-dark">
                            <h6 class="m-0">Hello world <span
                                    class="badge text-bg-warning rounded-pill text-uppercase">top
                                    sales</span></h6>
                            <button class="btn btn-primary rounded-pill">Click me</button>
                        </div>
                    </div>
                    {{> line}}
                    <div class="col-12">
                        <button class="btn btn-primary rounded-pill mx-5 my-3 ms-0">Click me</button>
                        <div class="alert alert-dark">
                            <h6 class="m-0">Hello world <span
                                    class="badge text-bg-warning rounded-pill text-uppercase">top
                                    sales</span></h6>

                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary rounded-pill mt-5">Click me</button>
                        <div class="alert alert-dark">
                            <h6 class="m-0">Hello world <span
                                    class="badge text-bg-warning rounded-pill text-uppercase">top
                                    sales</span></h6>

                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary rounded-pill mb-5">Click me</button>
                        <div class="alert alert-dark">
                            <h6>Hello world <span class="badge text-bg-warning rounded-pill text-uppercase">top
                                    sales</span></h6>

                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary rounded-pill my-5">Click me</button>

                        <div class="alert alert-dark">
                            <h6>Hello world <span class="badge text-bg-warning rounded-pill text-uppercase">top
                                    sales</span></h6>

                        </div>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary rounded-pill mb-5">Click me</button>
                        <div class="alert alert-dark">
                            <h6>Hello world <span class="badge text-bg-warning rounded-pill text-uppercase">top
                                    sales</span></h6>

                        </div>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary rounded-pill me-5">Click me</button>
                        <div class="alert alert-dark">
                            <h6>Hello world <span class="badge text-bg-warning rounded-pill text-uppercase">top
                                    sales</span></h6>

                        </div>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary rounded-pill mx-5">Click me</button>
                        <div class="alert alert-dark">
                            <h6>Hello world <span class="badge text-bg-warning rounded-pill text-uppercase">top
                                    sales</span></h6>

                            <p class="m-0">Text</p>

                            <p class="m-5">Text</p>

                            <p class="p-3">Text</p>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section>

            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Dropdown link
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand">Navbar</a>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </section>

    </main>
</div>