{{#with footer}}
<footer>
    <div>
        {{#with contacts}}
        {{> link text=email.text href=email.href blank=true }}
        {{> link text=phone.text href=phone.href blank=true }}
        {{> link text=social.text href=social.href blank=true noLine=true }}
        {{/with}}
    </div>
    <br>
    <div>
        <em>Copyright © by {{../header/person/name/firstname}} {{../header/person/name/lastname}}</em>
    </div>
    <br>
    <div>
        <em>{{../header/address}}</em>
    </div>

</footer>
{{/with}}