{{#with text}}
<div class="card">
    <ul class="nav">
        <li class="nav-item col-5">
            <p class="nav-link disabled">Shop</p>
        </li>

        {{#each links}}

        <li class="nav-item">
            <a href={{href}} class="nav-link">{{text}}</a>
        </li>
        {{/each}}
        <li class="nav-item">
            <a href="#" class="nav-link  disabled">Disabled</a>
        </li>
    </ul>

</div>
{{/with}}